@import "variables";

// common

* {
  box-sizing: border-box;
}

body {
  background-color: $pastel-color;
  font-size: 10px;
}

.blue {
  background-color: $blue-color;
  color: #FFF;
}

// header

.header {
  .title {
    text-align: center;
    margin-bottom: 84px;
    img {
      width: 386px;
    }
  }
}


// container
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 200px;
}


// order section
.order-section {
  background-color: #FFF;
  padding: 3em 2.7em;
}

.beverage-cont {
  margin-bottom: 20px;
  .item-cont {
    display: grid;
    grid-template-columns: repeat(3, 94px);
    gap: 1.2em;
    .item {
      position: relative;
      box-shadow: $box-shadow;
      border-radius: 10px;
      &:active::before {
        content: "";
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        border: 3px solid $blue-color;
        border-radius: 10px;
      }
      .btn-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: content-box;
        padding: .9em 1.3em;
        .item-img {
          width: 36px;
          margin-bottom: .6em;
        }
        .item-label {
          font-size: .9em;
          margin-bottom: 7px;
        }
        .item-price {
          font-size: 1em;
          padding: .5em 1.5em;
          border-radius: 20px;
        }
      }
    }
  }
}

.soldout {
  position: relative;
  pointer-events: none;
  &::before {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    background-image: url(../img/Sold-out.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// show-money-text
[class$="text"] {
  background-color: $pastel-color;
  font-size: 1.4em;
  border-radius: 3px;
  padding: .7em 1em;
  em {
    float: right;
  }
}

// return-btn, input-btn, get-btn
[class$="btn"] {
  font-size: 1.3em;
  font-weight: 700;
  box-shadow: $box-shadow;
  border-radius: 5px;
  width: 94px;
  &:active {
    box-shadow: none;
  }
}

// counter-basket, get-beverage-basket
ul[class$="basket"] {
  background-color: $pastel-color;
  border: 1.5px solid $gray-color;
  border-radius: 5px;
  padding: 1.2em;
  padding-bottom: 0;
  overflow-y: scroll;
  li + li {
    margin-top: 6px;
  }
  li {
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    padding: .7em;
    img {
      width: 18px;
      margin-right: 10px;
    }
    strong {
      font-size: .9em;
      vertical-align: 13px;
    }
    em {
      border: 1.5px solid $gray-color;
      float: right;
      font-size: 1.4em;
      border-radius: 5px;
      padding: .6em;
    }
  }
}

.beverage-counter {
  .flex-wrap {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 11px;
  }
  // overiding
  .show-money-text {
    width: 200px;
    margin-right: 12px;
    padding: 7px 4px;
  }
  #inputMoney {
    width: 200px;
    border: 1.5px solid $gray-color;
    border-radius: 5px;
    margin-right: 12px;
    padding: 7px 4px;
  }
  
  // overiding1
  .counter-basket {
    width: 200px;
    height: 134px;
    margin-right: 12px;
    padding: 7px 4px;
    .basket-item {
      cursor: pointer;
      &:active::before {
      content: "";
      position: absolute;
      top: 0; bottom: 0;
        left: 0; right: 0;
        border: 3px solid $blue-color;
        border-radius: 5px;
      }
    }
  }
}




// my basket section
.my-basket {
  position: relative;
  background-color: #FFF;
  padding: 1em 2.7em 0;
  &::before {
    content: "";
    position: absolute;
    right: 0; left: 0;
    top: 54px;
    height: 20px;
    background-color: $pastel-color;
  }
}

.money-section {
  margin-bottom: 5.4em;
}

.basket-cont {
  .basket-title {
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 1.3em;
  }
  // overiding
  .get-beverage-basket {
    width: 306px;
    height: 394px;
    margin-bottom: 1em;
  }
  .total-price {
    float: right;
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  body {
    background-color: #FFF;
  }

  .header .title{
    margin-bottom: 20px;
    img {
      width: 166px;
    }
  } 

  .container {
    flex-direction: column;
    gap: 0;
    margin-bottom: 70px;
    .order-section {
      padding-bottom: 0;
    }
    .my-basket {
      &::before {
        display: none;
      }
    }
    
  }
}